<div class="row">
    <div class="col-md-4 mb-5" *ngFor="let product of productList">
      <div class="card h-100">
        <img class="card-img-top" [src]="product.imageUrl" alt="">
        <div class="card-body">
          <h4 class="card-title">Card from productlist title</h4>
          <div class="row">
            <div class="card-text col-6 pr-2">Rs.{{product.currentPrice}}</div>
            <div class="card-text col-6 p-0">
              <select name="" (change)="changeUnit(product,$event)" id="">
                <option  *ngFor="let unitData of product.priceList" [value]="unitData._id" >{{unitData.unit}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>