<form class="signin">
    <mat-card>
      <div style="text-align: center;">
        <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">DEV</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input [value]="data.password" (input)="data.password=$event.target.value" type="password" matInput
          placeholder="Password">
      </mat-form-field>
      <br>
      <div style="text-align: center;">
        <button mat-raised-button (click)="submit()" color="primary">Update password</button>
      </div>
    </mat-card>
  </form>
  